

/* logohead */

.containerlogo{
  overflow: hidden;
  width: 100%;
}


.headlogo{
  background-image: url(../images/bg-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* navbar */
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler{border: white 0px solid;}
.navbar-toggler:focus{outline: none;box-shadow: none;}
.navbar{background-color: #f08b2e;}
li{margin-left: 10px;margin-right: 10px;}
.nav-link{color: white;}
.nav-link:hover,.nav-link:active,.nav-link:focus{color: white;font-weight: bold;outline: none;box-shadow: none;}
.dropdown-toggle::after {content: none;}
.dropdown-item{
  border-left:3px solid white; 
  margin-left: 10px;margin-right: 10px;
  height: 18px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  background-color:white;
  margin-top: 15px;
  margin-bottom: 15px;}
.dropdown-item:hover,.dropdown-item:focus{
  color: #f08b2e;
  border-left:3px solid #f08b2e; 
  margin-left: 10px;margin-right: 10px;
  height: 18px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  background-color:white;
  margin-top: 15px;
  margin-bottom: 15px;
  outline: none;
  box-shadow: none;
}

.dropdown:hover > .dropdown-menu{ display: block; }
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color:white }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 1570px) {
  
  }

@media (max-width: 991px) {
  .navbar-nav{
    padding: 4px;padding-top: 10px;padding-bottom: 10px;}
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	
@media (max-width: 630px) {
  .dropdown-menu>li>a {
    word-wrap: break-word;
    white-space: normal;
  }
  .dropdown-item{
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
  }
  .dropdown-item:hover,.dropdown-item:focus,.dropdown-item:active{
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
  }
}	
/* ============ small devices .end// ============ */




.logoimg1{
  height: 38px;
}

.headlogo{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: px;
}

  .text img{
    width:100%;
  }

  .container1{
    width: 100%;
    border: #f08b2e solid 0px;
    position: relative;
    background-image: url(../images/bg-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: 0 0;
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 0vw;
    padding-bottom: 1.5vw;
    display:block;
    top: 0.5vw;
    margin-bottom: 1vw;
    border: #f02e2e px solid;
  }

  .pichovertext{
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.8rem;
    color: white;
    text-align: start;
    line-height: 1.5;
    background:hsla(0, 0%, 0%, 0.5) ;
    opacity: 0;
    transition: 0.3s;
    text-decoration:white;
    text-decoration-thickness: bold;
  }
  .pichovertext:hover{
    opacity: 1;
    transition: 0.3s;
  }

  .card{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vw;
    border-radius: 0.7rem;
    box-shadow: 0vw 0vw 0.5vw rgb(159, 159, 159);
    margin-bottom: 1.5rem;
  }

  .card-img-top{
    width: 130%;
    height: 15vw;
    object-fit: cover;
    margin-bottom: 1.5rem;
  }
  .carousel{
    display: none;
    }
  
  .carousel-item{
    width: 100%;
    height: 60vw;
    object-fit: cover;
  }

  .carouselhovertext{
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vw;
    border: 0px blue solid;
    padding-top: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: white;
    background:hsla(0, 0%, 0%, 0.5) ;
    opacity: 0;
    transition: 0.3s;
  }
  .carouselhovertext:hover{
    opacity: 1;
    transition: 0.3s;
  }

  .carousel-inner{
    border-radius: 1rem; 
    box-shadow: 0vw 0vw 0.5vw rgb(159, 159, 159);
    border: 0.7rem;
    height: 58vw;
    display: flex;
    align-items: center;
    
    margin: auto;
  }

  .d-block{
    width: 120%;
    margin: auto;
    position: relative;
    object-fit: cover;
  }
  .titlebg{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    border: #f08b2e px solid;
  }
  .titlebg1{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 100%;
    height: 85px;
    background-color: white;
    border: #f08b2e px solid;
  }

  .title{
    position: relative;
    display: flex;
    width: 50vw;
    height: 42px;
    justify-content: center;
    align-items: center;
    margin: auto;
    bottom: 0.3vw;
  }

  .titlename{
    color: #575757;
    font-weight: bold;
    font-size: 20px;
    border-bottom: #f08b2e 2px solid;
  }

  .container2{
    width: 100%;
    height: 35vw;
    border: #f08b2e solid 0px;
    background-color: #f0ebe9;
    position: relative;
    margin:auto;
    padding-left: 17%;
    padding-right: 17%;
    margin-bottom: 5vw;
  }

  .card1{
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 20.7vw;
    height: 24vw;
    border-radius: 0.7rem;
    box-shadow: 0vw 0vw 0.5vw rgb(159, 159, 159);
    margin-top: 3vw;
    margin-bottom: 1.5rem;
    background-color: white;
  }

  .cardimgblock{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 20.7vw;
    height: 14vw;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    margin-top: 3vw;
    overflow: hidden;
  }

  .cardimg{
    position: relative;
    margin: auto;
    width: 105%;
  }

  .carddate{
    opacity: 0.8;
  }

  p {
    margin: 8px;
  }

  .cardhovertext:hover p {
    color: white;
  }

  .cardhovertext{
    position: absolute;
    top:0vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 20.7vw;
    height: 24vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 13.5vw;
    color: #575757;
    font-weight: bold;
    font-size: 16px;
    text-align: start;
    line-height: 1.5;
    opacity: 1;
    border-radius: 0.7rem;
    margin-top: 3vw;
  }
  .card1:hover .cardhovertext{
    color: white;
    background-color: #f08b2e;
  }
  .container3{
    display: none;
    }
    .more{
        height: 50px;
        display: flex;
        justify-content: center;
    }
    .morebtn{
        margin: auto;
        width: 130px;
        height: 40px;
        border: #f08b2e solid 1px;
        border-radius: 0.4rem;
        color: #f08b2e;
        font-size: 18px;
        text-align: center;
        padding-top: 5px;
        text-decoration: none;
    }
    .morebtn:hover,.morebtn:focus{
        color: white;
        background-color: #f08b2e;
        outline: none;
        box-shadow: none;
    }
    
    .board{
        position: relative;
        margin: auto;
        width: 79%;
        padding-left: 5.5%;
        padding-right: 5.5%;
        padding-top: 4vw;
        padding-bottom: 4vw;
        background-color: white;
        box-shadow: 0vw 0vw 0.5vw rgb(159, 159, 159);
        border: #f08b2e solid 0px;
        border-radius: 0.7rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .bulletin{
      margin-left: auto;
      margin-right: auto;

        width: 44%;
        border: #f08b2e solid px;
    }
   .bulletintitle{
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #575757;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: #f08b2e solid 2px;
   }
   .bulletininfo{
    height: 85px;
    font-size: 16px;
    color: #575757;
    width: 100%;
    padding-bottom: 5px;
    background-color:white;
    display: flex;
    align-items: center;
    padding-bottom: 3px;
    border-bottom: #575757 solid 1px;
    text-decoration: none;
   }
   .bulletininfo:focus{
    outline: none;
    box-shadow: none;}
   .bulletininfo1{
    height: 85px;
    font-size: 16px;
    color: #575757;
    width: 100%;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    padding-bottom: 3px;
    margin-bottom: 10px;
    text-decoration: none;
   }
   .bulletininfo1:focus{
    outline: none;
    box-shadow: none;}
   .bulletininfo:hover,.bulletininfo:focus .bulletindate{
    color: #f08b2e;
   }
   .bulletininfo1:hover,.bulletininfo1:focus .bulletindate{
    color: #f08b2e;
   }
   .bulletininfo:hover,.bulletininfo:focus .bulletinitem{
    color: #f08b2e;
   }
   .bulletininfo1:hover,.bulletininfo1:focus .bulletinitem{
    color: #f08b2e;
   }
   .bulletindate{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    border: #f08b2e solid px;
    padding-right: 20px;
   }

   .container4{
    margin-bottom: 3vw;
  }

  

  .containermap{
    width: 100%;
    height: 50vw;
    border:#f02e2e px solid;
    background-image: url(../images/bg-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .maparea{
    height: 45vw;
    margin-left: auto;
    margin-left: auto;
    display: flex;
    flex-direction:column;
    padding-top: 1vw;
    align-items: center;
    justify-content: flex-start;
    border: #f08b2e px solid;
   }
   .mapblock{
    overflow: hidden;
    width: 60%;
    height: 32vw;
    box-shadow: 0vw 0vw 0.5vw rgb(159, 159, 159);
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .mapimg{
    top:-1px;
    height: 101%;
   }
   .googlemapbtn{
    margin: auto;
    margin-top: 3vw;
    width: 250px;
    height: 40px;
    border: #f08b2e solid 1px;
    border-radius: 0.4rem;
    color: #f08b2e;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    background-color: white;
    }
    .googlemapbtn:hover, .googlemapbtn:focus{
    color: white;
    background-color: #f08b2e;
    outline: none;
    box-shadow: none;
    }



    .footer{
      overflow:hidden; 
      background:#f08b2e ;
      color: #ffffff  !important;
      margin-bottom: 5% ;padding-top: 5%;
      padding-left: 2%;
      padding-right: 2%;
      display: flex;
      align-self: start;
  }

  .container-ft{
    display: flex;
    border: white px solid;
    width: 88vw;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: auto;
    margin-bottom: 5vw ;
    margin-top: 3vw;

  }

  .logoarea{
    margin-right: 0vw;
    width: 45%;
    height: 100%;
    border:  blue px solid;
    
  }

  .logoft{
    overflow: hidden;
    margin-left: 10%;
    width: 350px;
    height: 300px;
    border: white px solid;
    display: flex;
    align-items: center;
  }

  .logoftimg{
    width: 100%;
  }
  .midline{
    width: 0.5px;
    height: 15vw;
    margin-right: 2vw;
    margin-left: 4vw;
    background-color: white;

  }

  .infoarea{
    margin-left: 10vw;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border:  blue px solid;
  }
  
  .titleft{
    margin-bottom: 2vw;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
    
  .itemsftcontainer{
    position: relative;
    margin: auto;
    margin-top: 0;
    right: 0%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border:  blue px solid;
    margin-bottom: 1vw;
  }
  
  .itemstitleft{
    position: relative;
    width: 15%;
    font-size: 14.5px;
    color: white;
    line-height: 150%;
    
  }
  
  .itemsft{
    position: relative;
    
    width: 85%;
    font-size: 14.5px;
    color: white;
    line-height: 150%;
    
  }
  
  

    

@media screen and (max-width: 1400px) {
    .container1{
    width: 100%;
    border: #f08b2e solid 0px;
    position: relative;
    margin:auto;
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 5vw;
    }
    .container2{
    width: 100%;
    height: 38vw;
    border: #f08b2e solid 0px;
    background-color: #f0ebe9;
    position: relative;
    margin:auto;
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 5vw;
    }
    
    .card-img-top{
    width: 140%;
    height: 20vw;
    object-fit:1 cover;
    }
    .card{
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 16vw;   
    }
    .card1{
      overflow: hidden;
    width: 23.9vw;
    height: 26vw;
    }

    .cardimgblock{
    width: 23.9vw;
    }
    .cardhovertext{
    width: 23.9vw;
    height: 26vw;
    }
    .board{
        position: relative;
        margin: auto;
        width: 88%;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 4vw;
        padding-bottom: 0vw;
        background-color: white;
        box-shadow: 0vw 0vw 0.5vw rgb(159, 159, 159);
        border: #f08b2e solid 0px;
        border-radius: 0.7rem;
        display: flex;
        flex-direction: row;
    }
    .bulletin{
        
        margin-bottom: 5vw;
        width: 43%;
        height: 80%;
        border: #f08b2e solid px;
    }
    .bulletininfo{
        height: 85px;
      
      }
      .bulletininfo1{
        height: 85px;
      
      }

}

@media screen and (max-width: 1160px) {
    

.midline{
width: 0.5px;
height: 15vw;
margin-right: 0vw;
margin-left: 7vw;
background-color: white;

}
}

@media screen and (max-width: 1130px) {
    .cardhovertext{
    font-size: 15px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 13.5vw;}
}

  @media screen and (max-width: 1006px) {
    .card-img-top{
    width: 130%;
    height: 60vw;
    object-fit:1 cover;
    }
    .card{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vw;
    }
    .container1{
    width: 100%;
    border: #f08b2e solid 0px;
    position: relative;
    margin:auto;
    padding-left: 15%;
    padding-right: 15%;
    display: none;
    }
    .container2{
    display: none;
    }
    .titlebg{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
    width: 100%;
    height: 50px;
    background-color: white;
    border: #f08b2e px solid;
    }
    
    .container3{
    width: 100%;
        
    border: #f08b2e solid 0px;
    background-color: #f0ebe9;
    position: relative;
        margin:auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        margin-bottom: 5vw;
        }
        .card2{
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            height: 20vw;
            border-radius: 0.7rem;
            box-shadow: 0vw 0vw 0.5vw rgb(159, 159, 159);
            margin-top: 2vw;
            margin-bottom: 2vw;
          }
        
          .cardimgblock2{
            position: relative; 
            display: flex;
            justify-content: center;
            align-items: center;
            top: -2vw;
            left:0;
            width: 38%;
            height: 100%;
            
            margin-top: 2vw;
            overflow: hidden;
          }
        
          .cardimg2{
            position: relative;
            margin: auto;
            width: 100%;
          }
        
          .carddate2{
            opacity: 0.8;
          }
        
          .cardhovertext2{
            position: relative;
            top:-2vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 20.7vw;
            height: 100%;
            width: 62%;
            margin: auto;
            padding: 4%;
            color: #575757;
            font-size: 14px;
            font-weight: bold;
            text-align: start;
            line-height: 1.5;
            background:white ;
            opacity: 1;
            
            margin-top: 2vw;
          }
          .card2:hover .cardhovertext2{
            color: white;
            background-color: #f08b2e;
          }
          .more{
            margin-top: 3vw;
        height: 50px;
        display: flex;
        justify-content: center;
        }
        .morebtn{
        margin: auto;
        width: 150px;
        height: 40px;
        border: #f08b2e solid px;
        border-radius: 0.24em;
        color: #f08b2e;
        font-size: 20px;
        text-align: center;
        padding-top: 3.2px;
    }

    .carousel{
    display:block;
    padding-left: 5%;
      padding-right: 5%;
    margin-bottom: 5vw;
    }
    .carousel-item{
    width: 100%;
    height: 60vw;
    object-fit: cover;
  }
  .titlename{
    color: #575757;
    font-weight: bold;
    font-size: 25px;
    border-bottom: #f08b2e 2px solid;
    
  }
  .board{
    position: relative;
    margin: auto;
    width: 88%;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    background-color: white;
    box-shadow: 0vw 0vw 0.5vw rgb(159, 159, 159);
    border: #f08b2e solid 0px;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
}
.bulletin{
    margin: auto;
    margin-bottom: 2vw;
    margin-top: 3vw;
    width: 90%;
    height: 50%;
    border: #f08b2e solid px;
}

  .more{
    height: 35px;
    display: flex;
    justify-content: center;
}
.morebtn{
    margin: auto;
    width: 100px;
    height: 35px;
    border: #f08b2e solid 1px;
    border-radius: 0.4rem;
    color: #f08b2e;
    font-size: 16px;
    text-align: center;
    padding-top: 4.2px;
}
.titlename{
  font-size: 18px;
  }
  .bulletininfo{
    height: 70px;
    font-size: 14px;
  }
  .bulletininfo1{
    height: 70px;
    font-size: 14px;
    margin-bottom: 3px;
  }
  .bulletintitle{
    height: 35px;
    font-size: 18px;
    padding-bottom: px;
  }
  .containermap{
    height: 68vw;
    padding-left: 1.7%;
    padding-right: 1.7%;
  }
  .maparea{
    height: 65vw;
    margin-bottom: 5vw;
  }
  .mapblock{
    width: 91%;
    height: 48vw;
  }
  .googlemapbtn{
    width: 220px;
    font-size: 16px;
    padding-top: 8px;
    margin-top: 3vw;
  }
  
}

@media screen and (max-width: 876px) {

  .footer{
    margin-top: 0vw;
  }
  
  .container-ft{
    display: flex;
    border: white px solid;
    width: 75vw;
    align-items: center;
    justify-content: center;
    padding: auto;
    padding-top: 1vw;
    padding-bottom: 5vw;
    flex-direction:column;
  }

  .logoarea{
    margin-top: vw;
    margin-right: 0vw;
    width: 100%;
    border:  blue px solid;
    
  }

  .logoft{
    overflow: hidden;
    margin-left: 10%;
    width: 100%;
    height: 15vw;
    border: white px solid;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .logoftimg{
    width: 260px;
    margin-bottom: 5vw;
  }
  .midline{
    width: 1px;
    height: 15vw;
    background-color: white;
  }

  .midline{
    display: none;
  }

  .infoarea{
    margin-left: 0vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border:  blue px solid;
  }
  
  .titleft{
    margin-bottom: 5vw;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
    
  .itemsftcontainer{
    position: relative;
    margin: auto;
    margin-top: 0;
    right: 0%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border:  blue px solid;
    margin-bottom: vw;
  }
  
  .itemstitleft{
    position: relative;
    width: 20%;
    font-size: 14px;
    color: white;
    line-height: 150%;
    
  }
  
  .itemsft{
    position: relative;
    
    width: 80%;
    font-size: 14px;
    color: white;
    line-height: 150%;
    
  }
}

@media screen and (max-width: 800px) {
  .container3{height: 110vw;padding-top: 3vw;}
  .card2{height: 25vw;}
  .cardimgblock2{height: 100%;width: 40%;}
  .cardhovertext2{height: 100%;width: 60%;}
  .cardimg2{width: 105%;}
  p{margin: 2px;padding-bottom: 0px;}

  .googlemapbtn{
    margin-top: 3vw;
  }
}

@media screen and (max-width: 600px) {
  .footer{
    margin-top: 0vw;
  }
  
  .container-ft{
    display: flex;
    border: white px solid;
    width: 75vw;
    align-items: center;
    justify-content: center;
    padding: auto;
    padding-top: 8vw;
    padding-bottom: 8vw;
    flex-direction:column;
  }

  .logoarea{
    margin-top: vw;
    margin-right: 0vw;
    width: 100%;
    border:  blue px solid;
    
  }

  .logoft{
    overflow: hidden;
    margin-left: 10%;
    width: 100%;
    height: 15vw;
    border: white px solid;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 5vw;
  }

  .logoftimg{
    width: 260px;
  }
  .midline{
    width: 1px;
    height: 15vw;
    background-color: white;
  }

  .midline{
    display: none;
  }

  .infoarea{
    margin-left: 0vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border:  blue px solid;
  }
  
  .titleft{
    margin-bottom: 5vw;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
    
  .itemsftcontainer{
    position: relative;
    margin: auto;
    margin-top: 0;
    right: 0%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border:  blue px solid;
    margin-bottom: vw;
  }
  
  .itemstitleft{
    position: relative;
    width: 15%;
    font-size: 14px;
    color: white;
    line-height: 150%;
    
  }
  
  .itemsft{
    position: relative;
    
    width: 85%;
    font-size: 14px;
    color: white;
    line-height: 150%;
    
  }
}

@media screen and (max-width: 540px) {
  .card2{height: 25vw;}
  .cardimgblock2{height: 100%;}
  .cardhovertext2{height: 100%;
    padding: 4%;
    padding-top: 4%;}
  .cardimg2{height: 100%;}
  .containermap{
    height: 75vw;
  }
  .logoimg1{
    height: 30px;
  }
}

@media screen and (max-width: 400px) {
  .container3{height: 125vw;}
  .card2{height: 30vw;}
  .cardimgblock2{height: 100%;}
  .cardhovertext2{height: 100%;
    padding: 4%;
    padding-top: 4%;
    font-size: 14px;}
  .cardimg2{height: 100%;}
  .bulletininfo{height: 80px;}
  .bulletininfo1{height: 80px;}
  .containermap{
    height: 80vw;
  }
}



.carousel-control-prev{
  margin-left: 2%;
  margin-right: 2%;
}

.carousel-control-next{
  margin-left: 2%;
  margin-right: 2%;
}