/* logohead */

.containerlogo{
  overflow: hidden;
  width: 100%;
}


.headlogo{
  background-image: url(../images/bg-01.jpg);
  background-position: center;

  background-size: cover;
  background-repeat: no-repeat;
  
}


/* navbar */
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler{border: white 0px solid;}
.navbar-toggler:focus{outline: none;box-shadow: none;}
.navbar{background-color: #f08b2e;}
li{margin-left: 10px;margin-right: 10px;}
.nav-link{color: white;}
.nav-link:hover,.nav-link:active,.nav-link:focus{color: white;font-weight: bold;outline: none;box-shadow: none;}
.dropdown-toggle::after {content: none;}
.dropdown-item{
  border-left:3px solid white; 
  margin-left: 10px;margin-right: 10px;
  height: 18px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  background-color:white;
  margin-top: 15px;
  margin-bottom: 15px;}
.dropdown-item:hover,.dropdown-item:focus{
  color: #f08b2e;
  border-left:3px solid #f08b2e; 
  margin-left: 10px;margin-right: 10px;
  height: 18px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  background-color:white;
  margin-top: 15px;
  margin-bottom: 15px;
  outline: none;
  box-shadow: none;
}
.dropdown:hover > .dropdown-menu{ display: block; }
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color:white }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .navbar-nav{
    padding: 4px;padding-top: 10px;padding-bottom: 10px;}
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	
/* ============ small devices .end// ============ */

.logoimg1{
    width: auto;
    height: 38px;
    margin: auto;
  }

  .headlogo{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: px;
  }

/* bg */

.containerbg{
  position: relative;
  border: #ff1919 px solid;
  background-image: url(../images/bg-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: 0 0;
}

.bgtop{
  top:0;
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
  object-fit: cover;

  
}
.bgimgtop{
  top:0;
  height: auto;
  width: auto;
  object-fit: fill;
  margin: auto;
}



/* board */

.containerboard{
  position: absolute;
  top:70px;
  width: 100%;
  border:blue px solid;
}

.boardbg{
  width: 100%;
  margin: auto;
  border:transparent 1px solid;
  background-image: url(../images/bg-02.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-position: 0 100%;
}
    
.board{
  background-color: white;
  box-shadow: 0vw 0vw 0.5vw #a1a1a1;
  margin: auto;
  margin-bottom: 5vw;
  width: 66%;
  border:blue 0px solid;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.banner{
  width: 100%;
  height:300px;
  border:blue px solid;
  margin-bottom: 4vw;
  display: flex;
  align-items: center;
}

.leftblock{
  background-color: #f08b2f;
  margin-left: 0;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border:blue 0px solid;
}

.picblock{
  position: relative;
  margin-right: 0;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url(../images/4.jpg);
  background-size: 110% auto;
  background-position:  100% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.midblock{
  position: absolute;
  left: 0;
  background-color: #ffede6;
  opacity:40% ;
  width: 5%;
  height: 100%;
}



.blocktext{
  position: relative;
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 0;
  padding-top: 15px;
    
}


.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.row{
  justify-content: center;
}
.companycard{
  margin: 10px;
  padding: 20px;
  width: 30%;
  border:blue px solid;
}
.companyname{
  padding-bottom: 7px;
  border-bottom: #f08b2e 1px solid;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: bold;
}
.orangetext{
  color: #f08b2e;
}
.orangetext1{
  color: #f08b2e;
  text-decoration: none;
}
.orangetext1:hover,.orangetext1:focus{
  color: #f08b2e;
  font-weight: bold;
  outline: none;
  box-shadow: none;
}
.companypic{
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border:blue px solid;
  box-shadow: #a1a1a1 0 0 0.5vw;
}
.img{
  width: 107%;
  height: 107%;
}
.companystory{
  text-align: justify;
  font-size: 14px;
  line-height: 1.6;
  margin-top: 40px;
  margin-bottom: 40px;
}
.companyinfo{
  font-size: 14px;
  line-height: 1.6;
}

/* pagination */
 
.container-fluid{
    display: flex;
    justify-content: center;
  }
  
  .pagination{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .pagination > .active > a
  {
      color: white;
      background-color: #f08b2e !Important;
      border: none;
      border-radius: 5px;
  }
  
  .page-link{
    color:#a1a1a1;
    border: none;
    background-color: transparent;
  }
  
  .page-link:hover{
    color: #f08b2e;
    border: none;
    font-weight: bold;
    background-color: transparent;
  }
  
  .pagination a:focus {
    color: #f08b2e;
    border: none;
    font-weight: bold;
    background-color: transparent;
  }



/* footer */

    .footer{
      background:#f08b2e ;
      color: #ffffff  !important;
      margin-bottom: 5% ;padding-top: 5%;
      padding-left: 2%;
      padding-right: 2%;
      display: flex;
      align-self: start;
  }

  .container-ft{
    display: flex;
    border: white px solid;
    width: 88vw;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: auto;
    margin-bottom: 5vw ;
    margin-top: 3vw;

  }

  .logoarea{
    margin-right: 0vw;
    width: 45%;
    height: 100%;
    border:  blue px solid;
    
  }

  .logoft{
    overflow: hidden;
    margin-left: 10%;
    width: 350px;
    height: 300px;
    border: white px solid;
    display: flex;
    align-items: center;
  }

  .logoftimg{
    width: 100%;
  }
  .midline{
    width: 0.5px;
    height: 15vw;
    margin-right: 2vw;
    margin-left: 4vw;
    background-color: white;

  }

  .infoarea{
    margin-left: 10vw;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border:  blue px solid;
  }
  
  .titleft{
    margin-bottom: 2vw;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
    
  .itemsftcontainer{
    position: relative;
    margin: auto;
    margin-top: 0;
    right: 0%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border:  blue px solid;
    margin-bottom: 1vw;
  }
  
  .itemstitleft{
    position: relative;
    width: 15%;
    font-size: 14.5px;
    color: white;
    line-height: 150%;
    
  }
  
  .itemsft{
    position: relative;
    
    width: 85%;
    font-size: 14.5px;
    color: white;
    line-height: 150%;
    
  }
  
  
@media screen and (max-width: 1688px) {
  
}
    

@media screen and (max-width: 1200px) {
  .content{
    flex-direction: column;
  }
  .companycard{
    width: 45%;
  }
  
}

@media screen and (max-width: 1160px) {
    .navbar-nav > .active > a {
    color: white;
    font-size: 18px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.midline{
width: 0.5px;
height: 15vw;
margin-right: 0vw;
margin-left: 7vw;
background-color: white;

}
}



  @media screen and (max-width: 1006px) {
    
    .banner{
      height: 25vw;
    }
    
    .picblock{
      position: relative;
      margin-right: 0;
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      background-size: 150% auto;
      background-position:  60% 50%;
      background-repeat: no-repeat;
      overflow: hidden;
    }

  .more{
    height: 35px;
    display: flex;
    justify-content: center;
}
.morebtn{
    margin: auto;
    width: 100px;
    height: 35px;
    border: #f08b2e solid 1px;
    border-radius: 0.4rem;
    color: #f08b2e;
    font-size: 16px;
    text-align: center;
    padding-top: 4.2px;
}
}

@media screen and (max-width: 876px) {

  
  .container-ft{
    display: flex;
    border: white px solid;
    width: 75vw;
    align-items: center;
    justify-content: center;
    padding: auto;
    padding-top: 1vw;
    padding-bottom: 5vw;
    flex-direction:column;
  }

  .logoarea{
    margin-top: vw;
    margin-right: 0vw;
    width: 100%;
    border:  blue px solid;
    
  }

  .logoft{
    overflow: hidden;
    margin-left: 10%;
    width: 100%;
    height: 15vw;
    border: white px solid;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .logoftimg{
    width: 260px;
    margin-bottom: 5vw;
  }
  .midline{
    width: 1px;
    height: 15vw;
    background-color: white;
  }

  .midline{
    display: none;
  }

  .infoarea{
    margin-left: 0vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border:  blue px solid;
  }
  
  .titleft{
    margin-bottom: 5vw;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  .itemsftcontainer{
    position: relative;
    margin: auto;
    margin-top: 0;
    right: 0%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border:  blue px solid;
    margin-bottom: vw;
  }
  
  .itemstitleft{
    position: relative;
    width: 20%;
    font-size: 14px;
    color: white;
    line-height: 150%;
    
  }
  
  .itemsft{
    position: relative;
    
    width: 80%;
    font-size: 14px;
    color: white;
    line-height: 150%;
    
  }
}

@media screen and (max-width: 700px) {
.board{
  width: 80%;
}
.containerboard{
  top:50px;
}
.leftblock{
  width: 40%;
}
.picblock{
  width: 60%;
}

.content{
  width: 85%;
  padding-bottom: 3vw;
  margin-bottom: 0vw;
}
.namearea{
  width: 85%;
  height: 50%;
}
.namecontainer{
  padding-top: 3vw;
  padding-bottom: 3vw;
}
.namecontainer1{
  padding-top: 3vw;
  padding-bottom: 3vw;
}
.name{
  font-size: 20px;
}
.detail{
  font-size: 16px;
}
p{
  margin: 8;
}
.board{
  margin-bottom: 10vw;
}
.joinus{
  width: 120px;
  height: 40px;
  font-size: 16px;
  margin-top: 2vw;
}


}

@media screen and (max-width: 600px) {

  
  .container-ft{
    display: flex;
    border: white px solid;
    width: 75vw;
    align-items: center;
    justify-content: center;
    padding: auto;
    padding-top: 8vw;
    padding-bottom: 8vw;
    flex-direction:column;
  }

  .logoarea{
    margin-top: vw;
    margin-right: 0vw;
    width: 100%;
    border:  blue px solid;
    
  }

  .logoft{
    overflow: hidden;
    margin-left: 10%;
    width: 100%;
    height: 15vw;
    border: white px solid;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 5vw;
  }

  .logoftimg{
    width: 260px;
  }
  .midline{
    width: 1px;
    height: 15vw;
    background-color: white;
  }

  .midline{
    display: none;
  }

  .infoarea{
    margin-left: 0vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border:  blue px solid;
  }
  
  .titleft{
    margin-bottom: 5vw;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
    
  .itemsftcontainer{
    position: relative;
    margin: auto;
    margin-top: 0;
    right: 0%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border:  blue px solid;
    margin-bottom: vw;
  }
  
  .itemstitleft{
    position: relative;
    width: 15%;
    font-size: 14px;
    color: white;
    line-height: 150%;
    
  }
  
  .itemsft{
    position: relative;
    
    width: 85%;
    font-size: 14px;
    color: white;
    line-height: 150%;
    
  }
  .slogan{
    font-size: 22px;
  }
}

@media screen and (max-width: 540px) {
  
  .companycard{
    width: 100%;
  }
  .namecontainer{
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
  .namecontainer1{
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
  .title{
    margin-top: 2vw;
  }
}

@media screen and (max-width: 490px) {
  .picblock{
    background-size: 200% auto;
    background-position:  60% 50%;
  }
  .banner{
    height: 40vw;
  }
  .containerboard{
    top:40px;
  }
  .detail{
    font-size: 14px;
  }
  .namecontainer{
    padding-top: 6vw;
    padding-bottom: 6vw;
  }
  .namecontainer1{
    padding-top: 6vw;
    padding-bottom: 6vw;
  }
  .slogan{
    font-size: 18px;
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border: white 1px solid;
} 

.carousel-control-prev{
  margin-left: 2%;
  margin-right: 2%;
}

.carousel-control-next{
  margin-left: 2%;
  margin-right: 2%;
}